/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: black;
}
  /* Body Styling */
  body {
    font-family: Arial, sans-serif;
    background-color:black;
  }
  
  footer {
    display: flex;
    position: below;
    justify-content: right;
    align-items: center;
    padding-right: 2%;
    height: 4rem;
    background-color: black;
    font-weight: bold;
    color: #fff;
  }

  #h1 {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  #h2 {
    animation-name: fade;
    animation-duration: 1s;
  }
  #h3 {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  #h4 {
    animation-name: fade;
    animation-duration: 2.0s;
  }

  /* Navigation Bar */
  nav {
    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: black;
    height: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 500;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  
  nav ul li {
    margin-right: 3%;
    margin-left: 3%;
  }

  nav ul li a {
    color: white;
    font-size: 2vmax;
    text-decoration-line: none;
    font-weight: bold;
  }

  nav ul li a:hover{
    color: white;
    text-decoration-line: underline;
  }

  /* Container Layout */
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    width: auto;
    height: auto;
    background: linear-gradient(to right, rgba(0,13,30,1) 0%,rgba(98,0,125,1) 100%);
    padding-bottom: 15%;
  }

  .container2 {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
    width: auto;
    height: auto;
    background: linear-gradient(to right, rgba(0,13,30,1) 0%,rgba(98,0,125,1) 100%);
    padding-bottom: 15%;
  }

  .container3 {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
    width: auto;
    height: auto;
    background: linear-gradient(to right, rgba(0,13,30,1) 0%,rgba(98,0,125,1) 100%);
    padding-bottom: 15%;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
    gap: 20px;
    padding: 20px;
  }
  
  .image-item {
    display: flex;
    flex-direction: column;
    margin: 0;
    color:white;
    text-align: center;
  }
  
  .image-item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  
  .image-item figcaption {
    padding: 10px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 3vmin;
  }

  #tiny {
    margin-top: -20px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 2vmin;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 1200px) {
    .image-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on smaller screens */
    }
  }
  
  @media (max-width: 900px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on even smaller screens */
    }
  }
  
  @media (max-width: 600px) {
    .image-grid {
      grid-template-columns: 1fr; /* 1 column on mobile */
    }
  }
  

  /* Left Section Styling */

  .projects-section {
    color:white;
  }
  
  .projects-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 2vmax;
    animation-name: fade;
    animation-duration: 1s;
  }

  .project-info {
    margin-left: -13%;
  }

  @media (max-width: 900px) {
    .project-info {
      grid-template-columns: 1fr; /* 1 column on mobile */
      margin-left: 0%;
      margin-top: 2%;
    }
  }

  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns on even smaller screens */
    animation-name: fade;
    animation-duration: 2s;
    margin-left: 5%;
    margin-top: 5%;
    width: inherit;
  }

  @media (max-width: 900px) {
    .project {
      grid-template-columns: 1fr; /* 1 column on mobile */
    }
  }

  .project-title {
    font-size: 2.25vmax;
  }

  .project-subtitle {
    font-size: 1.5vmax;
  }


  .project img{
    margin-right: 1%;
    max-width: auto;
    height: 30vmax;
  }

  .project video{
    margin-right: 1%;
    max-width: auto;
    height: 30vmax;
  }

  .project p{
    margin-top: 1%;
    font-size: 1.25vmax;
    flex-wrap: wrap;
  }

  #projectlink {
    padding-top: 3%;
  }

  #projectlink a{
    color: white !important;
    font-size: 2vmax;
    animation-name: fade;
    animation-duration: 2s;
  }

  #projectlink a:hover{
    color: rgba(255, 255, 255, 0.451) !important;
  }

  #paper{
    margin-top: 5%;
  }

  .project-description{
    margin-right: 15%;
  }

  .left-section {
    color:white;
    margin-left: 5%;
    margin-top: 4%;
  }

  @keyframes fade {
    from {color: transparent;
      opacity: 0;}
    to {color: white;
      opacity: 1;}
  }

  .left-section h1 {
    overflow-inline: true;
    font-size: 6.5vmax;
    animation-name: fade;
    animation-duration: 1s;
  }

  .left-section h2 {
    font-size: 3vmax;
    margin-bottom: 5%;
    animation-name: fade;
    animation-duration: 1s;
  }

  #lol {
    animation-name: fade;
    animation-duration: 3.0s;
  }
  
  .left-section p {
    margin-bottom: 5%;
    font-size: 1.75vmax;
  }

  #scifi {
    margin-top: 5%;
    font-size: 1vmax;
    font-weight: bold;
  }

  .left-section a {
    text-decoration-line: underline;
    font-weight:700;
    animation-name: fade;
    animation-duration: 2.5s;
  }

  .social-links {
    display: flex;
    align-items: center;
    animation-name: fade;
    animation-duration: 3.5s;
  }

  .social-links a {
    display: flex;
    margin-right: 15px;
    align-items: center;
    font-size: 1.5vmax;
    text-decoration-line: none;
  }

  .social-links a img {
    width: 70px;
  }
  
  /* Right Section Styling */
  
  #threejs-container {
    width: auto;
    height: auto; /* Adjust height as needed */
  }
  
  #caption{
    text-align: center;
    font-weight: bold;
  }

  /* Caption Styling */
  .right-section p {
    margin-top: 10px;
    color:white;
    font-size: 1.25vmax;

  }
  
  a {
    color:white;
  }