/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: black;
}
  /* Body Styling */
  body {
    font-family: Arial, sans-serif;
    background-color:black;
  }
  
  footer {
    display: flex;
    position: below;
    justify-content: right;
    align-items: center;
    padding-right: 2%;
    height: 10vh;
    background-color: black;
    font-weight: bold;
    color: #fff;
  }

  #h1 {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  #h2 {
    animation-name: fade;
    animation-duration: 1s;
  }
  #h3 {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  #h4 {
    animation-name: fade;
    animation-duration: 2.0s;
  }

  /* Navigation Bar */
  nav {
    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: black;
    height: 5em;
    align-items: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 500;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  
  nav ul li {
    margin-right: 3%;
    margin-left: 3%;

  }
  
  nav ul li a {
    color: white;
    font-size: 25px;
    text-decoration-line: none;
    font-weight: bold;
  }

  nav ul li a:hover{
    color: white;
    text-decoration-line: underline;
  }
  
  /* Container Layout */
  .container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 95vh;
    background: linear-gradient(to right, rgba(0,13,30,1) 0%,rgba(98,0,125,1) 100%);
  }
  
  /* Left Section Styling */
  .left-section {
    max-width: 50%;
    color:white;
    margin-left: 5%;
    margin-top: 4%;
  }
  
  @keyframes fade {
    from {color: transparent;
      opacity: 0;}
    to {color: white;
      opacity: 1;}
  }

  .left-section h1 {
    font-size: 5.5em;
    animation-name: fade;
    animation-duration: 1s;
  }

  .left-section h2 {
    font-size: 3em;
    margin-bottom: 5%;
    animation-name: fade;
    animation-duration: 1s;
  }

  #lol {
    animation-name: fade;
    animation-duration: 3.0s;
  }
  
  .left-section p {
    margin-bottom: 5%;
    font-size: x-large;
  }

  #scifi {
    margin-top: 5%;
    font-size: medium;
    font-weight: bold;
  }

  .left-section a {
    text-decoration-line: underline;
    font-weight:700;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  .social-links {
    display: flex;
    align-items: center;
    animation-name: fade;
    animation-duration: 3.5s;

  
  }

  .social-links a {
    display: flex;
    margin-right: 15px;
    align-items: center;
    font-size: 20px;
    text-decoration-line: none;
  }

  .social-links a img {
    width: 70px;
  }
  
  /* Right Section Styling */
  
  #threejs-container {
    width: auto;
    height: auto; /* Adjust height as needed */
  }
  
  /* Caption Styling */
  .right-section p {
    margin-top: 10px;
    color:white
  }
  
  a {
    color:white
  }